body
{
    background-color: blueviolet;
}

.img
{
    background: url("../img/header-bg.jpg") no-repeat center/contain;
    background-size: cover;
}

.main 
{
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
        
}

.header-top
{
    height: 250px;
}

a,h1,h2,h3,h4
{
    color: white;
}

.main-center
{
    text-align: center;
}

.logo
{
    float: left;
    filter: opacity(100%);
}

.menu
{
    float: right;
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 75%;
}

.main-wrapper-row
{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.row1,.row2
{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 75%;  
}

.first-img
{
    float: left;
    padding-right: 60%;
}

.second-img
{
    float: right;
    padding-left: 60%;
}
.third-img
{
    float: left;
    padding-right: 60%;
}

.fourth-img
{
    float: right;
    padding-left: 60%;
}

.msg-container
{
    text-align: center;
}

.img-container
{
    height: 400px;
}

.news-row
{
 text-align: center    
}

.footer
{
    background-color: black;
    text-align: center;

}

